@model IEnumerable<Prueva_DE_SASS.Models.Peliculas>
<br />

@using (Html.BeginForm("Index", "Mantenimiento", FormMethod.Get))
{

    <div class="contenedorestatico">
        <div class="mibotonbuscar">
            @Html.TextBox("searching")
            <input type="submit" value="Buscar" class="botonbuscar" />
        </div>
        <div class="mibotonbuscar">
            <a class="btn btn btn-primary" href="/Mantenimiento/Ingresar">Añadir Pelicula <span class="glyphicon glyphicon-plus"></span></a>
        </div>

    </div>

}
<h4>Peliculas</h4>
<br />
@Html.ActionLink("Peliculas de Accion","Accion","Peliculas")
<table class="table table-striped">

    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Titulo
            </th>
            @*<th>
                    Actores
                </th>*@
            <th>
                Director
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Duracion/Min
            </th>
            <th>
                Precio
            </th>
            <th>
                Fecha De Estreno
            </th>
            <th>
                Portada
            </th>
            <th>
                Genero
            </th>
            <th>
                Idioma
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">

                    No se encontro lo que buscaba
                </td>

            </tr>

        }
        else
        {

            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cod_Pelicula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    @*<td>
                                @Html.DisplayFor(modelItem => item.Actores)

                        </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Director)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duracion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Estreno)
                    </td>
                    <td>
                        <div class="tamano">
                            @if (!string.IsNullOrEmpty(item.Portada))
                            {
                                <img src="@Url.Content(item.Portada)" alt="imagen" />
                            }
                        </div>
                    </td>
                    <td>
                        @Prueva_DE_SASS.Clase.Class1.mostrargenero(item.Cod_Genero)

                    </td>
                    <td>
                        @Prueva_DE_SASS.Clase.Class1.mostraridioma(item.Cod_Idioma)

                    </td>
                    <td>
                        <div class="botonesabajo">

                            <div class="botonesabajo">

                                @Html.ActionLink("Editar", "Editar", new { Cod_Pelicula = item.Cod_Pelicula }, new { @class = "btn btn-success miboton" })
                            </div>
                            <div class="botonesabajo">

                                @Html.ActionLink("Detalles", "Detalles", new { Cod_Pelicula = item.Cod_Pelicula }, new { @class = "btn btn-info " })
                            </div>
                            <div class="botonesabajo">
                                @Html.ActionLink("Eliminar", "Eliminar", new { Cod_Pelicula = item.Cod_Pelicula }, new { @class = "btn btn-danger aEliminar" })
                            </div>

                        </div>

                    </td>

                </tr>
            }
        }
    </tbody>
</table>

@section Scripts{

    <script>
        $(".aEliminar").click(function (Event) {
            if (!confirm('Esta seguro de eliminar el registro?')) {

                event.preventDefault();
            }
        });
    </script>
}
