@model IEnumerable<Prueva_DE_SASS.Models.Musica>
<br />
@Html.Partial("_VistaMusicaParcial")
<h4>@ViewBag.Message </h4>
<br />

@foreach (var item in Model)
{


    <div class="separacionimagenes polaroid">


            @if (!string.IsNullOrEmpty(item.Portada))
            {
                <img src="@Url.Content(item.Portada)" />
            }

             @Html.DisplayFor(modelItem => item.Nombre)

            <div>

                @Html.ActionLink("$" + Html.DisplayFor(modelItem => item.Precio), "MostrarDetallesMusica", new { Cod_Musica = item.Cod_Musica }, new { @class="cajaparaprecioaaa"})
      
            </div>


    </div>
}

