
    <div class="ContenedorBuscador">

        @Html.ActionLink("Añadir", "M_Peliculas", "MantenimientoPadre")

        <div class="categoriasBuscar"><a href="#menu">Categorias</a></div>

    </div>

<div class="menudepeli">
    <nav id="menu">
        <ul class="links">
            <li><a><h4>Musicas</h4></a></li>
            <li>@Html.ActionLink("Electrónica", "electronica", "Musica")</li>
            <li>@Html.ActionLink("Baladas", "Baladas", "Musica")</li>
            <li>@Html.ActionLink("Ska", "Ska", "Musica")</li>
            <li>@Html.ActionLink("Rap y Hip Hop", "Rap_Hip_Hop", "Musica")</li>
            <li>@Html.ActionLink("Romanticas", "Romanticas", "Musica")</li>
            <li>@Html.ActionLink("Salsa", "Salsa", "Musica")</li>
            <li>@Html.ActionLink("Tecno", "Tecno", "Musica")</li>
            <li>@Html.ActionLink("Urbana", "Urbana", "Musica")</li>


            @*<li>@Html.ActionLink("Reggae", "Reggae", "Musica")</li>
            <li>@Html.ActionLink("Rock", "Rock", "Musica")</li>
            <li>@Html.ActionLink("Alternativas", "Alternativas", "Musica")</li>
            <li>@Html.ActionLink("Ska", "Ska", "Musica")</li>
            <li>@Html.ActionLink("Reggaeton", "Salsa", "Musica")</li>
            <li>@Html.ActionLink("Banda", "Ska", "Musica")</li>*@




        </ul>
    </nav>
</div>